@import '../node_modules/bootstrap/scss/bootstrap.scss'
html
  scroll-behavior: smooth

#class1
    padding-top: 30px
[alt="logojad"]
    width: 9%
    margin-left: 4%
    
header
    
    background-size: 100%
    height: 100vh
    .row 
        width: 100%
.boutnav
    margin-left: 40%
.nav-item
    margin-left: 40px
nav 
    background-color: #363C42
    position: fixed
    z-index: 3
    width: 100%
    height: 8%
    border-bottom: black 2px solid
    
[alt='jad']
    width: 60px
    margin-left: 80px
    .lien
        text-decoration: none
        color: white
.hov:hover 
    border-bottom: 2px red solid
    size: 30px
    padding-top: 3px
.opacite
    background-color: rgba(0,0,0,0.6)
    height: 100%
    width: 100%
.carousel-inner
    height: 100vh
    width: 100%
[alt="First slide"]
    height: 100vh
    width: 100%


// About me 
.portfolios-boutons
    display: flex
    justify-content: center
    width: 100%
    align-items: flex-start
    margin: 4vh 0

#btn4
    background-color: #363C42
    color: white
    border: solid 1px white
    border-radius: 5px
    padding: 6px 10px
    outline: none !important

#btn4:hover
    background-color: white
    color: #363C42

#btn5
    background-color: #363C42
    color: white
    border: solid 1px white
    border-radius: 5px
    padding: 6px 10px
    outline: none !important

#btn5:hover
    background-color: white
    color: #363C42

#btn6
    background-color: #363C42
    color: white
    border: solid 1px white
    border-radius: 5px
    padding: 6px 10px
    outline: none !important

#btn6:hover
    background-color: white
    color: #363C42

.diminue
    padding-top: 8vh
.btn-clique
    background-color: grey
    color: white
#sect
    height: 70vh

    .col-1-img
        height: 60vh
        width: 40vh
        background-image: url('../img/costard.jpg')
        background-size: 120%
        position: absolute
        top: 10vh
        left: 8vh
        z-index: 1

    
    .col-1-back
        height: 60vh
        width: 40vh
        background-color: grey
        position: absolute
        top: 15vh
        left: 4vh
.skills
    margin-bottom: 35px
        
.section2
    background-color: #343a40
    height: 100vh
.titre1
    padding-top: 100px
button
    margin: 15px
    
.transition1
    text-align: right
.langage1
   display: inline-block
   width: 100%
   height: 5px
   z-index: -1i
   
  
.langage1::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage1:hover::after
    width: 90%
    

.transition2
    text-align: right
.langage2
   display: inline-block
   width: 100%
   height: 5px
  
.langage2::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage2:hover::after
    width: 85%

.transition3
    text-align: right

.langage3
   display: inline-block
   width: 100%
   height: 5px
  
.langage3::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage3:hover::after
    width: 60%

.transition4
    text-align: right
.langage4
   display: inline-block
   width: 100%
   height: 5px
  
.langage4::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage4:hover::after
    width: 50%

.transition5
    text-align: right

.langage5:hover::after
    width: 70%

.langage5
   display: inline-block
   width: 100%
   height: 5px
  
.langage5::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage5:hover::after
    width: 70%
.droite
    margin-left: 88%
.droite1
    margin-left: 91%
.droite2
    margin-left: 82%
.droite3
    margin-left: 82%
.droite4
    margin-left: 84%
h6
    font-weight: bold
    padding-top: 51px

// Carousel
.img
    height: 105vh
    width: 100%
    background-image: url('../img/shoot.jpg')
    background-size: 100%
    background-position-y: 50%
    background-position-x: 40%
    position: absolute
    top: 0vh
    left: 0vh
    z-index: -1
    background-repeat: no-repeat
.imgjad
    height: 107vh
    width: 100%
    background-image: url('../img/shoot9.jpg')
    background-size: 113%
    background-position-y: 50%
    background-position-x: 40%
    position: absolute
    top: 0vh
    left: 0vh
    z-index: -1
.imgjad1
    height: 100vh
    width: 100%
    background-image: url('../img/shoot6.jpg')
    background-size: 100%
    background-position-y: 50%
    background-position-x: 40%
    position: absolute
    top: 0vh
    left: 0vh
    z-index: -1
.black
    height: 100vh
    width: 100%
    background-color: rgba(0,0,0,0.6)
    position: absolute
    top: 0vh
    left: 0vh
    z-index: 1
         
.text
    position: absolute
    top: 30vh
    left: 20vh
    color: white
    z-index: 2
    font-weight: bold
    font-size: 30px

    // Section 3 les services


.section3
    background-color: #515355
    height: 100vh
    width: 100%
.centre
    justify-content: center
h4 
    padding-top: 125px
    font-size: 60px
    font-family: 'Times New Roman', Times, serif
    width: 100%
    text-align: center
.souligne
    width: 110px
    height: 3px
    background-color: white
.titre-souligne
    display: flex
    flex-wrap: wrap
    justify-content: center

.first
    height: 200px
    text-align: center
.first:hover
    background-color: grey 
    color: white 

.seconde
    height: 200px
    text-align: center

.seconde:hover
    background-color: grey 
    color: white 
.descendre
    padding-top: 100px
.troisieme 
    height: 200px
    text-align: center
    padding-top: 30px
.troisieme:hover
    background-color: grey 
    color: white 
    
.quatrieme
    padding-top: 30px
    height: 200px
    text-align: center
.quatrieme:hover
    background-color: grey 
    color: white 
.descendre1
    padding-top: 70px
.txt
    padding-top: 10px
.nom
    padding-top: 20px


// Section 4

.section4
    background-color: #343a40
    height: 100vh
    width: 100%
.titre4
    justify-content: center
.bouton
    padding-top: 60px
    width: 75%
    margin-left: 142px
    
.portfolios
    height: 50vh
    width: 100%
    padding-top: 70px
    

#cola
    
    width: 10%
.img1
    background-image: url('../img/portfolio(1).jpeg')
    height: 20vh
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
.img1:hover
    transform: scale(1.1)
#colz
    width: 10%
.img2
    background-image: url('../img/portfolio(2).jpeg')
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
    height: 20vh
.img2:hover
    transform: scale(1.1)
#cole
    
    width: 10%
.img3
    background-image: url('../img/portfolio(3).jpeg')
    height: 20vh
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
.img3:hover
    transform: scale(1.1)

#colr
    
    width: 10%
.img4
    background-image: url('../img/portfolio(4).jpeg')
    height: 20vh
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
.img4:hover
    transform: scale(1.1)
#colt
    
    width: 10%
.img5
    background-image: url('../img/portfolio(5).jpeg')
    height: 20vh
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
.img5:hover
    transform: scale(1.1)
#coly
    
    width: 10%
.img6
    background-image: url('../img/portfolio(6).jpeg')
    height: 20vh
    background-size: 100%
    background-repeat: no-repeat
    transition: transform .3s
.img6:hover
    transform: scale(1.1)
.btn-clique1
    background-color: white

// Section 5

.section5
    height: 72vh
    width: 100%
    background-color: #525456
.contact
    display: flex
    flex-wrap: wrap
    justify-content: center
.input1
    background-color: #1B1B1B
    border-radius: 5px
    border: none
    width: 350px
    height: 45px
    padding-left: 15px
    color: white
   
.posinput
     padding-top: 10%
     margin: 5px
.input2
    background-color: #1B1B1B
    border-radius: 5px
    border: none
    width: 350px
    height: 45px
    padding-left: 15px
    color: white
.input3
    background-color: #1B1B1B
    border-radius: 5px
    border: none
    width: 350px
    height: 45px
    padding-left: 15px
    color: white
.input4
    width: 100%
    color: white
.plainte
    height: 150px
    width: 101%
    background-color: #1B1B1B  
    margin-top: 70px
    border: none
    border-radius: 5px
    margin-bottom: 10px
    padding-bottom: 100px
    padding-left: 15px
    color: white
.message
    padding-top: 50px

// Footer
[alt="logojad1"]
    width: 5%
    margin-left: 14px
.footer
    height: 20vh
    width: 100%
    background-color: #363C42
.foot
    text-align: center
    padding-top: 50px
    color: white
    font-weight: bold
.icone
    text-align: center
#fcb
    margin-left: 20px
   
#fcb:hover
    color: white
#insta
    margin-left: 20px
#insta:hover
    color: white
#lin
    margin-left: 20px
#lin:hover
    color: white
#twit
    margin-left: 20px
#twit:hover
    color: white
a 
    text-decoration: none
    color: white
a:hover 
    text-decoration: none
    color: white

// Media query

@media (max-width: 700px)


    #class1
        width: 10%
        margin-right: 10px
    [alt="logojad"]
        width: 15%
        margin-left: 4%
        
    .imgjad1
        height: 47vh
        width: 100%
        background-image: url('../img/shoot6.jpg')
        background-size: 117%
        background-position-y: 38%
        background-position-x: 40%
        position: absolute
        top: 0vh
        left: 0vh
        z-index: -1
        background-repeat: no-repeat
    .imgjad
        height: 45vh
        width: 130%
        background-image: url('../img/shoot9.jpg')
        background-size: 113%
        background-position-y: 38%
        background-position-x: 40%
        position: absolute
        top: 0vh
        left: 0vh
        z-index: -1
        background-repeat: no-repeat
    .img
        height: 47vh
        width: 116%
        background-image: url('../img/shoot.jpg')
        background-size: 100%
        background-position-y: 38%
        background-position-x: 40%
        position: absolute
        top: 0vh
        left: 0vh
        z-index: -1
        background-repeat: no-repeat
    .black  
        height: 36.7vh
        width: 100%
        background-color: rgba(0,0,0,0.6)
        position: absolute
        top: 0vh
        left: 0vh
        z-index: 1
    #section1
        height: 36.6vh
    .col-1-img
        height: 40vh !important
        width: 25vh !important
        background-image: url('../img/costard.jpg')
        background-size: 120%
        position: absolute
        top: 5vh
        left: 8vh
        z-index: 1
        background-repeat: no-repeat
        margin-top: -30px
    .col-1-back
        height: 40vh !important
        width: 25vh !important
        background-color: grey
        position: absolute
        top: 10vh
        left: 4vh
        margin-top: -30px
    .textaboutme
    
        padding-right: 0vh !important
        
        font-size: 10px
    .textaboutme1
        font-size: 10px
        
    .titre1
        padding-top: 20px
        margin-left: 80px
    .section2
        height: 146vh
        width: 100%
        margin-left: 0
        margin-right: 0
    #sect
        height: 55vh
        margin-left: 28px
    .droite
        margin-left: 50%
    .droite1
        margin-left: 55%
    .droite2
        margin-left: 40%
    .droite3
        margin-left: 39%
    .droite4
        margin-left: 42%
    .langage5:hover::after
        width: 50%
    .langage1:hover::after
        width: 70%
    .langage2:hover::after
        width: 65%
    .langage3:hover::after
        width: 40%
    .langage4:hover::after
        width: 30%
    .section3
        height: 155vh
    nav
        width: 100%
        height: 53px
    #cola
        width: 70%
    #colz
        width: 70%
        padding-top: 15px
    #cole
        width: 70%
        padding-top: 15px
    #colr
        width: 70%
        padding-top: 15px
    #colt
        width: 70%
        padding-top: 15px
    #coly
        width: 70%
        padding-top: 15px
    .section4
        height: 195vh
    .portfolios
        justify-content: center
        margin: 5px
    .all1
        margin-left: -290px
    .all2
        margin-left: -170px
    .all3
        margin-left: 207px
    .bouton
        margin-left: 159px
    .input1    
        background-color: #1B1B1B
        border-radius: 5px
        border: none
        width: 300px
        height: 45px
        padding-left: 15px
        color: white
    .input2
        background-color: #1B1B1B
        border-radius: 5px
        border: none
        width: 300px
        height: 45px
        padding-left: 15px
        color: white
        
    .input3
        background-color: #1B1B1B
        border-radius: 5px
        border: none
        width: 300px
        height: 45px
        padding-left: 15px
        color: white
    .input5
        padding-top: 15px
    .input6
        padding-top: 15px
    h4 
        padding-top: 44px
    .section5
        height: 83vh
    .footer 
        height: 25vh
    .navigation
        margin-left: 10px
        display: none
    .skills
        margin-bottom: 35px
        margin-left: 23px
    [alt="logojad1"]
        width: 18%
    body 
        width: 100%
    .row
        margin: 0 !important