@import '../node_modules/bootstrap/scss/bootstrap.scss'



#class1
    padding-top: 20px
header
    background-color: black
    background-size: 100%
    height: 100vh
    .row 
        width: 100%

[alt='jad']
    width: 60px
    margin-left: 80px
    
.hov:hover 
    border-bottom: 2px red solid
    size: 30px
    padding-top: 3px
.opacite
    background-color: rgba(0,0,0,0.6)
    height: 100%
    width: 100%
.carousel-inner
    height: 100vh
    width: 100%
[alt="First slide"]
    height: 100vh
    width: 100%


// About me 


[alt="shooting"]
    width: 80%
    height: 70%
    padding-top: 50px
        
.section2
    background-color: #343a40
.titre1
    padding-top: 40px
button
    margin: 15px

.transition1
    text-align: right
.langage1
   display: inline-block
   width: 100%
   height: 5px
  
.langage1::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage1:hover::after
    width: 90%
    

.transition2
    text-align: right
.langage2
   display: inline-block
   width: 100%
   height: 5px
  
.langage2::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage2:hover::after
    width: 85%

.transition3
    text-align: right

.langage3
   display: inline-block
   width: 100%
   height: 5px
  
.langage3::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage3:hover::after
    width: 60%

.transition4
    text-align: right
.langage4
   display: inline-block
   width: 100%
   height: 5px
  
.langage4::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage4:hover::after
    width: 50%

.transition5
    text-align: right

.langage5:hover::after
    width: 70%

.langage5
   display: inline-block
   width: 100%
   height: 5px
  
.langage5::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage5:hover::after
    width: 70%
.droite
    margin-left: 87%
.droite1
    margin-left: 90%
.droite2
    margin-left: 81%
.droite3
    margin-left: 80%
.droite4
    margin-left: 83%
