@import '../node_modules/bootstrap/scss/bootstrap.scss'



#class1
    padding-top: 20px
header
    background-color: black
    background-size: 100%
    height: 100vh
    .row 
        width: 100%

[alt='jad']
    width: 60px
    margin-left: 80px
    
.hov:hover 
    border-bottom: 2px red solid
    size: 30px
    padding-top: 3px
.opacite
    background-color: rgba(0,0,0,0.6)
    height: 100%
    width: 100%
.carousel-inner
    height: 100vh
    width: 100%
[alt="First slide"]
    height: 100vh
    width: 100%


// About me 


#sect
    height: 70vh

    .col-1-img
        height: 60vh
        width: 40vh
        background-image: url('../img/costard.jpg')
        background-size: 120%
        position: absolute
        top: 5vh
        left: 10vh
        z-index: 1

    
    .col-1-back
        height: 60vh
        width: 40vh
        background-color: grey
        position: absolute
        top: 10vh
        left: 5vh
.skills
    margin: 35px
        
.section2
    background-color: #343a40
    margin-top: 54px
    height: 80vh
.titre1
    padding-top: 40px
button
    margin: 15px
    
.transition1
    text-align: right
.langage1
   display: inline-block
   width: 100%
   height: 5px
   z-index: -1
   
  
.langage1::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage1:hover::after
    width: 90%
    

.transition2
    text-align: right
.langage2
   display: inline-block
   width: 100%
   height: 5px
  
.langage2::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage2:hover::after
    width: 85%

.transition3
    text-align: right

.langage3
   display: inline-block
   width: 100%
   height: 5px
  
.langage3::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage3:hover::after
    width: 60%

.transition4
    text-align: right
.langage4
   display: inline-block
   width: 100%
   height: 5px
  
.langage4::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage4:hover::after
    width: 50%

.transition5
    text-align: right

.langage5:hover::after
    width: 70%

.langage5
   display: inline-block
   width: 100%
   height: 5px
  
.langage5::after
    content: ""
    background-color: white
    width: 0
    height: 2px
    display: block
    transition: width 2s
    
.langage5:hover::after
    width: 70%
.droite
    margin-left: 88%
.droite1
    margin-left: 91%
.droite2
    margin-left: 82%
.droite3
    margin-left: 82%
.droite4
    margin-left: 84%
h6
    font-weight: bold
.img
    height: 98vh
    width: 100%
    background-image: url('../img/montagne.jpg')
    background-size: 100%
    background-position-y: 50%
    background-position-x: 40%
    position: absolute
    top: 0vh
    left: 0vh
    z-index: -1

.black
    height: 98vh
    width: 100%
    background-color: rgba(0,0,0,0.6)
    position: absolute
    top: 0vh
    left: 0vh
    z-index: 1
         
.text
    position: absolute
    top: 30vh
    left: 20vh
    color: white
    z-index: 2
    font-weight: bold
    font-size: 30px

    // Section 3 les services


.section3
    background-color: #515355
    height: 90vh
    width: 100%
.centre
    justify-content: center
h4 
    padding-top: 70px
    font-size: 60px
    font-family: 'Times New Roman', Times, serif
    width: 100%
    text-align: center
.souligne
    width: 110px
    height: 3px
    background-color: white
.titre-souligne
    display: flex
    flex-wrap: wrap
    justify-content: center

.first
    height: 200px
    text-align: center
.first:hover
    background-color: grey 
    color: white 

.seconde
    height: 200px
    text-align: center

.seconde:hover
    background-color: grey 
    color: white 
.descendre
    padding-top: 100px
.troisieme 
    height: 200px
    text-align: center
    padding-top: 30px
.troisieme:hover
    background-color: grey 
    color: white 
    
.quatrieme
    padding-top: 30px
    height: 200px
    text-align: center
.quatrieme:hover
    background-color: grey 
    color: white 
.descendre1
    padding-top: 70px
.txt
    padding-top: 10px
.nom
    padding-top: 20px
